#about {
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important ;
  padding-left: 30% !important;
  padding-right: 30% !important;
  padding-top: 2% !important;
  padding-bottom: 30% !important;
}
